.Opp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.Opp img {
  width: 200px;
}

.Opp p {
  padding: 8px 10px;
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 10px;
}