.FollowFriendListItem-avatar img {
  width: 20px;
  border: 1px solid #33333366;
  padding: 4px;
  border-radius: 50%;
}

.FollowFriendListItem-avatar {
  padding: 0px 8px;
}

.FollowFriendListItem {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.FollowFriendListItem-user{
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
}

.FollowFriendListItem-user :not(:first-child) {
  opacity: 0.5;
  font-size: 11px;
  margin-top: 3px;
}

.FollowFriendListItem-btn button {
  border: 0px;
  background-color: transparent;
  color: #1876F2;
}

